/*
 * Copyright (c) 2021 Dan Thomas
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&encoder_1 {
    status = "okay";
};

sensors {
    compatible = "zmk,keymap-sensors";
    sensors = <&encoder_1>;
};


/ {
    keymap {
        compatible = "zmk,keymap";

        default {
           bindings = <
                &kp F13 &kp F14 &kp F15
                &kp F17 &kp F18 &kp F19
            >;
        sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
	};
};
